*{
    box-sizing: border-box;
    margin: 0;
}
.maindiv{
    background: rgba(0, 0, 0, 0.3)url("mathsgif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    

}
.first {
    height: 85.99%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 177, 196);
    border-radius: 25px;
    border: 7px solid rgb(60, 62, 65);
  }
  
.ansbox{
    height: 13%;   
    text-align: right;
    font-weight: 700;
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    flex-basis: 100%;
    margin-top: 5%;
    padding-top: 5%;
}
.allbtns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightblue;
    width: 93%;
    border-radius: 24px;
}

.btn{
    padding: 5% 7%;
    margin: 3%;
    border-radius: 17px;
    border:  solid 2px black;
    height: 5%;
    text-align: center;
    width: 17%;
    background-color: black;
    color: aliceblue;
    
}
.btn:hover{
    background-color: lightblue;
    transition: background-color  0.4s ease-in-out;
}
.opera{
    background-color: darkcyan;
}
.opera:hover{
    background-color: rgb(3, 38, 41);
    transition: background-color  0.4s ease-in-out;
}
.operaa{
    background-color: rgb(19, 90, 134);
    color: black;
}
.operaa:hover{
    background-color: aqua;
}
.del{
    padding-right: 12%;
}
